#menu {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background: rgb(165, 5, 5);
  }


/*#descrH1{
    font-size: 22px;
  
  
  }
  
  #description{
  text-align: justify;
    font-size: 18px;
    line-height: 1.3;
    font-family: 'Playfair Display', serif;
    padding: 0% 5%;
  }
*/

  #NB{
      margin-top:150%;
      padding-left: 2%;
      font-size: 18px;
      font-family: 'Playfair Display', serif;
  }